<form [formGroup]="signUpForm">
  <ion-list no-padding>
    <ion-item>
      <ion-input type="email" placeholder="Email" formControlName="username"></ion-input>
    </ion-item>
    <ion-item>
      <ion-input type="password" placeholder="Password" formControlName="password"></ion-input>
    </ion-item>
  </ion-list>
</form>
<button ion-button round large (click)="login()">Join PREMIUM for a month</button>
